.joao {
    max-width: 10%;
    max-height: 10%;
    border-radius: 5px;
}
.peraltinha{
    max-width: 15%;
    max-height: 10%;
    border-radius: 5px;
    object-fit: cover;
}
.peralta_bottom{
    border-top: 2px solid #505050;
    padding-top: 15px;
}
body{
    background-color: #ccc;
}
#title, .post_title, .subtitle {
    color: blue;
    border-bottom: 1px solid #505050; 
    border-width: 1.5px;
}
.post_title{
    font-size: 30px;
    font-style: italic;
}
.foot{
    background-color: #bbb;
}
.backart{
    background-color: darkgrey;
    border: 2px solid #505050; 
    border-width: 2px;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;   
}