.joao {
    max-width: 10%;
    max-height: 10%;
    border: 1px solid #505050;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.peraltinha {
    max-width: 15%;
    max-height: 10%;
    border-radius: 5px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.peralta_bottom {
    border-top: 2px solid #505050;
    padding-top: 15px;
}

body {
    background-color: #DCDCDC;
}

#title,
.post_title,
.subtitle {
    color: #505050;
    border-bottom: 1px solid #505050;
    border-width: 1.5px;
}

.post_title {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.subtitle, .peralta_bottom{
    text-align: center;
}

.foot{
    background-color: #bbb;
}

.backart {
    background-color: darkgrey;
    border: 2px solid #505050;
    border-width: 2px;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}
